.chart {
  text-align: center;
  margin: 0 auto;
  height: 40vh;
  width: 65%;
}

.btn-container {
  text-align: center;
}

/* .btn button {
  background-color: #1abc9c;
  border: #16a084;
  color: white;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 6px;
  border-radius: 12px;
  width: 60px;
  height: 30px;
  text-align: center;
} */

button:hover {
  background-color: #19a88c;
}
